<h1>Destination</h1>

<label>Name</label><br>
<label><%=@destination.name%></label><br>
<label>Country</label><br>
<label><%=@destination.country%></label><br>
<label>Most featured posts</label><br>
<label><%=@destination.most_featured.title%></label><br>
<label>Average age</label><br>
<label><%=@destination.average_age%></label><br>